apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-gateway-values
  namespace: istio-system
data:
  values.yaml: |
    gateway:
      type: LoadBalancer
      serviceAnnotations: {}
      ports:
        - name: http2
          port: 80
          targetPort: 8080
        - name: https
          port: 443
          targetPort: 8443
      resources:
        requests:
          cpu: 100m
          memory: 128Mi
        limits:
          cpu: 2000m
          memory: 1024Mi
      autoscale:
        enabled: false
        minReplicas: 1
        maxReplicas: 5
      nodeSelector: {}
      tolerations: []
      affinity: {}
      podAnnotations:
        prometheus.io/port: "15020"
        prometheus.io/scrape: "true"
      imagePullSecrets: []
